@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.josefin-sans {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}
*{
    /* color: white; */
}
.container {
    /* border: 1px solid red; */
    width: 220px;
    height: 186px;
}

.container img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.container img:hover{
    width: 245px;
    /* margin-left: -1.5px; */
    /* margin-right: -8px; */
    /* margin-top: -8px; */
    /* padding-bottom: 2px; */
    transition: 0.5s;
    box-shadow: rgba(255, 255, 255, 0.986) 0px 2px 4px 0px, rgba(255, 255, 255, 0.32) 0px 2px 16px 0px;
}

.container img:hover .desc{
    margin-top: 11px;
}

.dot {
    height: 3px;
    width: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    margin: 3px 6px;
}

.small {
    margin: -3px 1px;
}

.media {
    position: relative;
    margin-right: 1px;
}
.desc p span{
    font-size: 12px;
}
.desc p svg{
    font-size: 14px;
    margin-right: 3px;
}
.desc {
    margin-top: 8px;
    color: white;
    margin-left: 4px;
}
.name{
    margin-left: 4px;
    font-weight: bold;
    font-size: 16px;
    margin-top: -7px;
    color: white;
}


.bookmark {
    position: relative;
    width: 8px;
    height: auto;
    padding: 3px 9px 5px 17px;
    margin: 10px 2px -35px 180px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0,0.2);
    cursor: pointer;
}

.bookmark:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.bookmark svg {
    margin: 3px -2px 1px -12px;
    padding: 0px 0px 0px 0px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    cursor: pointer;
}

.booked {
    font-size: 22px;
    scale: 1.3;
    margin: 0px 0px 0px 0px;
}

.bookmark svg:hover {
    transition: 0.25s; 
    font-size: 16px;
    margin-top: 2px;
}



/* Responsive adjustments */
@media (max-width: 1360px) { 
    .container {
        width: 220px;
        height: 186px;
    }
}

@media (max-width: 1250px) { 
    .container {
        width: 220px;
        height: 186px;
    }
}

@media (max-width: 1112px) {
    .container {
        width: 220px;
        height: 186px;
    }
}

@media (max-width: 1030px) {
    .container {
        width: 255px;
        height: 210px;
    }
}

@media (max-width: 915px) {
    .container {
        width: 230px;
        height: 205px;
    }
}

@media (max-width: 828px) {
    .container {
        width: 295px;
        height: 225px;
        padding-left: 20px;
    }
}

@media (max-width: 706px) {
    .container {
        width: 250px;
        height: 200px;
        padding-left: 1px;
    }
}

@media (max-width: 606px) {
    .container {
        width: 340px;
        height: 260px;
        margin-left: 55px;
    }
}

@media (max-width: 566px) {
    .container {
        width: 330px;
        height: 255px;
        margin-left: 40px;
    }
}

@media (max-width: 486px) {
    .container {
        width: 300px;
        height: 240px;
        margin-left: 20px;
    }
}

@media (max-width: 436px) {
    .container {
        width: 280px;
        height: 220px;
        margin-left: 5px;
    }
}

@media (max-width: 390px) {
    .container {
        width: 240px;
        height: 210px;
        margin-left: 5px;
    }
}