@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.josefin-sans {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

.box {
    width: 330px;
    height: 168px;
    flex-shrink: 0;
    object-fit: cover;
    animation: scroll 300s linear infinite;
    /* border: 1px solid white; */
}

.box img {
    border-radius: 10px;
    height: 150px;
    width: 300px;
    margin-top: 4px;
}

.box:hover img {
    box-shadow: rgba(255, 255, 255, 0.986) 0px 2px 4px 0px, rgba(255, 255, 255, 0.32) 0px 2px 16px 0px;
    width: 308px;
    height: 158px;
    margin-top: -0px;
    margin-left: -4px;
    transition: 0.5s;
    padding-top: -4px;
}
.box:hover p , .title{
    margin-bottom: 4px;
    transition: 0.2s;
    margin-top: -56px;
    /* margin-left: 16px; */
}

.box1 {
    /* border: 1px solid red; */
    margin-left: 100px;
    height: 160px;
}
.title {
    font-size: 24px;
    margin-bottom: 8px;
    margin-top: -55px;
    font-weight: 500;
    margin-left: 1px;
    color: white;
}
.trending {
    height: 200px;
    display: flex;
    overflow-x: scroll;
    /* scrollbar-width: thin; */
    scrollbar-color: transparent transparent;
}
.trending::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.trending::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 2px;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-330px*16.4*2));
    }
}
.box h2 {
    position: relative;
    font-size: 18px;
    margin: -4px 10px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-decoration: none;
}
.box p {
    color: rgb(255, 255, 255);
    margin: 0px 10px;
    margin-top: -50px;
}
.dot {
    height: 3px;
    width: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    margin: 3px 1px;
}
.small {
    margin: -3px 1px;
}
.media {
    position: relative;
    margin-right: 8px;
}
a {
    text-decoration: none;
}
a p,a h2 {
    text-decoration: none;
}
.bookmark {
    position: relative;
    width: 8px;
    height: auto;
    padding: 0px 0px 0px 28px;
    margin: 20px -1px -42px 260px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.bookmark:hover {
    background-color: rgba(0, 0, 0, 0.4);

}
.bookmark svg {
    margin:5px -3px 0px -22px;
    /* padding: 0px 0px 0px 0px; */
    padding-bottom: -4px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    cursor: pointer;
}
.booked {
    font-size: 22px;
    scale: 1.3;
    margin: 0px 0px 0px 0px;
}
.bookmark svg:hover {
    /* margin: 1px -2px 4px -23px; */
    font-size: 16px;
    transition: 0.25s;
}
.trending:hover .box {
    animation-play-state: paused;
}
.spinner {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

                                                                                                                        
/* ------------------================================================================== */


/* Responsive adjustments */
@media (max-width: 1200px) { 
    .box1 {
        margin-left: 100px;
        height: 160px;
    }

}

@media (max-width: 992px) {
    .box1 {
        margin-left: 116px;
        height: 160px;
    }
}

@media (max-width: 828px) { 
    .box1 {
        margin-left: 130px;
        height: 160px;
    }
}

@media (max-width: 706px) {
    .box1 {
        margin-left: 140px;
        height: 160px;
    }
}

@media (max-width: 606px) {     
    .box1 {
        margin-left: 145px;
        height: 160px;
    }
}

@media (max-width: 486px) { 
    .box1 {
        margin-left: 150px;
        height: 160px;
    }
}