.body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 500px;
    background-color: black; /* Added to visualize the container */
  }
  
  .cont {
    width: 100%;
    height: 100%;
  }
  
  .frame {
    width: 100%;
    height: 100%;
    border: none;
  }
  