.spinner {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin-top: 50px;
    margin-left: 190%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.navbar {
    margin-top: -50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    width: 84%;
    overflow-y: auto;
    margin-top: -30px;
    margin-left: 40px;
    position: static
}

.heading {
    margin-left: 60px;
    margin-bottom: 22px;
    font-size: 32px;
    margin-top: 20px;
    color: #ffffff;
}

.container1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    width: 84%;
    overflow-y: auto;
    margin-top: -30px;
    margin-left: 40px;
    position: static
}

.heading1 {
    color: #ffffff;
    margin-left: 60px;
    margin-bottom: 22px;
    font-size: 32px;
    margin-top: 20px;
}

.container>div {
    margin-bottom: -20px;
}

.box{
    height: 97.2vh;
}
.navbar h2{
    color:white;
    margin-left: 50px;
    font-size: 32px;
}
