@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

.main {
  /* border: 1px solid red; */
  height: 89.4vh;
}


.box {
  /* border: 1px solid white; */
  width: 40%;
  margin: auto;
  height: 90%;
}

.top {
  width: 100%;
}

.top svg {
  font-size: 36px;
  color: red;
  margin-left: 46%;
}

.mid {
  /* border: 1px solid red; */
  height: auto;
  margin: 5% auto;
  width: 80%;
  padding-top: 20px;
}

.mid1 {
  /* border: 1px solid red; */
  height: auto;
  margin: 5% auto;
  width: 80%;
  padding-top: 20px;
}

.title {
  /* border: 1px solid white; */
  font-size: 28px;
  color: white;
  height: 44px;
  font-family: math;
  text-align: center;
}

.form {
  /* border: 1px solid green; */
  height: 80%;
  margin-top: 4%;
  padding-top: 0px;
  font-family: inherit;
}

input {
  /* border: 1px solid white; */
  width: 90%;
  height: 32px;
  font-size: 20px;
  color: rgb(236, 235, 235);
  padding-left: 12px;
  margin-left: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
}

form button {
  cursor: pointer;
  width: 94%;
  height: 40px;
  font-size: 24px;
  background-color: rgb(228, 0, 0);
  border: none;
  border-radius: 4px;
  color: white;
  margin-left: 10px;
  padding-bottom: 6px;
  margin-top: 10px;
}

form button:hover {
  cursor: pointer;
  width: 95%;
  height: 42px;
  font-size: 24.5px;
  background-color: rgb(255, 17, 17);
  border: none;
  border-radius: 4px;
  color: rgb(221, 218, 218);
  margin-left: 8px;
  padding-bottom: 3px;
  transition: .2s;
}

.oauth {
  /* border: 2px solid purple; */
  width: 94%;
  height: 44px;
  font-size: 24px;
  background-color: rgb(255, 255, 255);
  /* border: none; */
  border-radius: 4px;
  color: rgb(0, 38, 255);
  margin-left: 10px;
  padding-bottom: 6px;
  cursor: pointer;
  margin-top: 20px;
  padding-top: 2px;
  /* margin-bottom: 220px; */
  display: flex;
}

.oauth img {
  width: 30px;
  margin-top: 4px;
  margin-left: 48px;
}

.google {
  margin: 3px 10px 0px 6px;
  padding-top: -5px;
}

.gImg {
  margin: 0px 10px 0px 4px;
}

.oauth:hover {
  width: 95%;
  height: 46px;
  font-size: 24.5px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  color: rgb(0, 38, 255);
  margin-left: 8px;
  padding-bottom: 6px;
  cursor: pointer;
  margin-top: 19px;
  padding-top: 2px;
  /* margin-bottom: 220px; */
  display: flex;
  transition: 0.5s;
}

.oauth:hover img{
  width: 30.5px;
  margin-top: 4.5px;
  margin-left: 48px;
}

.oauth:hover .google{
  margin: 5px 4px 0px 8px;
  padding-top: -5px;
}

.bottom{
  /* border: 1px solid red; */
  width: 80%;
  margin: auto;
}
.bottom p{
  color:white;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}
.bottom>p>a{
  color: red;
  margin-left: 2px;
}
.create{
  margin-top: -100px;
}

.bottom1{
  /* border: 1px solid red;   */
  width: 80%;
  margin: auto;
}
.bottom1 p{
  color:white;
  font-size: 18px;
  text-align: center;
  /* margin-top: -110px; */
  padding: 0px;
}
.bottom1>p>a{
  color: red;
  margin-left: 2px;

}


@media (max-width: 1360px) { 
  .box {
    /* border: 1px solid white; */
    width: 45%;
    margin: auto;
    height: 90%;
  }
}
@media (max-width: 1250px) { 
  .box {
    width: 50%;
    margin: auto;
    height: 90%;
  }
}
@media (max-width: 1112px) { 
  .box {
    width: 55%;
    margin: auto;
    height: 90%;
  }
}
@media (max-width: 1030px) { 
  .box {
    width: 60%;
    margin: auto;
    height: 90%;
  }
}
@media (max-width: 915px) { 
  .box {
    width: 65%;
    margin: auto;
    height: 90%;
  }
}
@media (max-width: 828px) { 
  .box {
    width: 70%;
    margin: auto;
    height: 90%;
  }
}
@media (max-width: 706px) { 
  .box {
    width: 75%;
    margin: auto;
    height: 90%;
  }
}
@media (max-width: 606px) { 
  .box {
    width: 80%;
    margin: auto;
    height: 90%;
  }
  form button{
    font-size: 22px;
  }
  .gImg{
    margin: 0px 10px 0px -10px;
  }
  .google{
    font-size: 22px;
  }
}
@media (max-width: 566px) { 
  .box {
    width: 85%;
    margin: auto;
    height: 90%;
  }
  form button{
    font-size: 22px;
  }
  .gImg{
    margin: 0px 10px 0px -24px;
  }
  .google{
    font-size: 20px;
  }
}
@media (max-width: 436px) { 
  .box {
    width: 94%;
    margin: auto;
    height: 90%;
  }
  form button{
    font-size: 20px;
  }
  .gImg{
    margin: 0px 10px 0px -24px;
  }
  .google{
    font-size: 18px;
  }
}





