* {
    /* color: white; */
}

.main {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow-x: hidden;
    background-color: #212738;
    padding-bottom: 8px;
}

.content {
    margin-top: 60px;
    flex: 1;
    margin-left: 6px;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    margin-left: -90px;
}

.content:first-child {
    /* border: 1px solid; */
}

.main1 {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow-x: hidden;
    background-color: #212738;
    padding-bottom: 8px;

}

.top {
    /* border: 2px solid red; */
    position: fixed;
    margin-top: -50px;
}