* {
    /* color: white; */
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
    background-color: #212738;
    /* padding-bottom: 28px; */
}

.top h1 {
    margin: -4px 0px 0px 410px;
    color: white;
    font-size: 36px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.content {
    margin-top: 60px;
    flex: 1;
    margin-left: 6px;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    margin-left: -90px;
}

.content:first-child {
    /* border: 1px solid red; */
}

.main1 {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow-x: hidden;
    background-color: #212738;
    padding-bottom: 8px;

}

.top {
    /* border: 2px solid red; */
    position: fixed;
    margin-top: -50px;
}


/* ------------------------------------------------------------------------- */


@media (max-width: 1200px) {
    .main {
        height: 100vh;
    }
    .top {
        position: fixed;
        margin-left: -30px;
    }

}

@media (max-width: 992px) {
    .main {
        height: 100vh;
    }
    .top {
        position: fixed;
        margin-left: -150px;
    }
}

@media (max-width: 828px) {
    .top {
        position: fixed;
        margin-left: -200px;
    }
}

@media (max-width: 706px) {
    .top {
        position: fixed;
        margin-left: -260px;
    }
}

@media (max-width: 606px) {
    .top {
        position: fixed;
        margin-left: -280px;
    }

    .top h1 {
        margin-top: -2px;
        font-size: 33px;
    }
}

@media (max-width: 486px) {
    .top {
        position: fixed;
        margin-left: -310px;
    }

    .top h1 {
        font-size: 29px;
    }
}

@media (max-width: 390px) {
    .top {
        position: fixed;
        margin-left: -320px;
    }

    .top h1 {
        font-size: 27px;
    }
}